// 集成模板
extends ./front_end_layout
block title
    title 泵|密封 -重庆伊尔流体设备制造有限公司【唯一官方网站】

// 引入私有的css
block css
    link(rel='stylesheet', href='/css/front_end/front_end_index.css')
    link(rel='stylesheet', href='/plugins/jquery_slider/css/flickerplate.css')
    link(rel='stylesheet', href='/plugins/jquery_bxslider/css/jquery.bxslider.css')

block content
    .flicker-example.slider.flickerplate(data-block-text='false')
        ul
            li(data-background='images/front_end/slider_01.jpg')
                .flick-title.flick-title-cn(style='display:none') 一流的流体设备制造商
                .flick-title.flick-title-en(style='display:none') Top-class Fluid Equipment Manufacturers
                .flick-sub-text.flick-sub-text-cn(style='display:none')
                    | 伊尔流体设备制造有限公司为您提供专业的特殊液体输送设备
                .flick-sub-text.flick-sub-text-en(style='display:none')
                    | We provide you with professional special liquid delivery equipment
            li(data-background='images/front_end/slider_02.jpg')
                .flick-title.flick-title-cn(style='display:none') 专注于产品设计以及产品质量
                .flick-title.flick-title-en(style='display:none') Focus on Product Design and Product Quality
                .flick-sub-text.flick-sub-text-cn(style='display:none')
                    | 伊尔流体专注于产品核心科技，严格把控产品质量
                .flick-sub-text.flick-sub-text-en(style='display:none')
                    | We focus on the core product technology and strictly control the quality of product
    .abstract-container
        .abstract-content
            //h1.abstract-title 核心优势
                //big.emphasize-color 伊尔
                //| 流体设备制造有限公司为您提供
                //big.emphasize-color 专业
                //| 的
                //big.emphasize-color 特殊
                //| 液体输送设备
            //hr.title-hr
            //p.abstract-detail 伊尔人坚持安全、环保、科技的先进理念，全心全意为顾客服务;始终致力于为企业的安全稳定运转提供可靠质量保障
            .abstract-item
                .abstract-item-top
                    img(src="/images/front_end/cog@2x.png")
                .abstract-item-middle
                    h3 专注于产品质量
                .abstract-item-bottom
                    p 重庆伊尔流体设备自成立以来，已获得多项国家专利及质量管理证书
            .abstract-item
                .abstract-item-top
                    img(src="/images/front_end/head@2x.png")
                .abstract-item-middle
                    h3 一流的研发团队
                .abstract-item-bottom
                    p 伊尔流体的核心研发团队均拥有多年国内外大型泵类企业工作经验
            .abstract-item
                .abstract-item-top
                    img(src="/images/front_end/share@2x.png")
                .abstract-item-middle
                    h3 乐于行业奉献
                .abstract-item-bottom
                    p 对于行业的进步，伊尔人始终乐于奉献，公司经常组织参与行业交流
            .abstract-item.abstract-item-last
                .abstract-item-top
                    img(src="/images/front_end/inbox@2x.png")
                .abstract-item-middle
                    h3 良好的客户评价
                .abstract-item-bottom
                    p 伊尔流体生产的泵、密封类产品多次受到国内外化工企业的一直好评
    //.video-container
    //    .video-content
    //        h3 一流的设计 专业的制造
    //.contact-container
    //    p.contact-first 重庆伊尔流体设备，值得您的信奈!
    //    p.contact-last
    //        a 联系我们
    .about-news-container
        .about-news-content
            .about-news-left
                h1.title 关于我们
                p.content 重庆伊尔流体设备制造有限公司坐落于西部唯一的年轻直辖市--重庆，是一家集生产、研发、销售为一体，并通过ISO9001认证的立卧式石油化工泵制造厂家。我们不是什么都做的企业，我们只专业研发制造：各种立卧式化工流程泵、小流量高扬程皮托管泵（又名旋转喷射泵、旋壳泵）、无泄漏磁力泵以及机械密封。 公司历时5年研发了最新一代石油化工流程泵（严格执行API610“第十一版”标准），最新一代小流量高扬程皮托管泵，最新一代磁力泵以及机械密封。
                a(href="../about").about-more 查看更多>>
            .about-news-right
                .about-news-right-title
                    h1.title 新闻资讯
                    a(href="../news/company").news-more 更多新闻>
                .about-news-right-content
                    ul
                        -for(var i = 0; i < newsData.length; i++)
                            li
                                .news-item.clearfix
                                    .date-left
                                        - var month = (newsData[i].createTime).toString().split(' ')[1];
                                        - var day = (newsData[i].createTime).toString().split(' ')[2];
                                        .date-month #{day}
                                        .date-day #{month}
                                    .content-right
                                        a(href="../news/detail?id=#{newsData[i]._id}").news-title #{newsData[i].title}
                                        .news-abstract #{newsData[i].subTitle}
    .product-container
        .product-content
            .product-content-title
                h1.title 产品中心
                a(href="../product/pumps?series=magnetic").product-more 更多产品>
            .product-content-tab
                a.magnetic.switch-tab.active 磁力泵系列
                a.chemical.switch-tab 化工泵系列
                a.pitot.switch-tab 皮托管泵系列
                a.seal.switch-tab 机械密封系列
            .product-content-container
                .magnetic-container.content-container
                    -if(magneticData && magneticData[0])
                        ul#magnetic
                            -for(var i = 0; i < magneticData.length; i++)
                                li
                                    a(href="../product/detail?page=1&id=#{magneticData[i]._id}&type=pumps&series=magnetic")
                                        -var mamagneticUrl = magneticData[i].imgUrl.replace('public', '..');
                                        img(src='#{mamagneticUrl}', alt='#{magneticData[i].name}', style='height:160px;')
                                    span #{magneticData[i].name}
                .chemical-container.content-container
                    -if(chemicalData && chemicalData[0])
                        ul#chemical
                            -for(var i = 0; i < chemicalData.length; i++)
                                li
                                    a(href="../product/detail?page=1&id=#{chemicalData[i]._id}&type=pumps&series=chemical")
                                        -var chemicalUrl = chemicalData[i].imgUrl.replace('public', '..');
                                        img(src='#{chemicalUrl}', alt='#{chemicalData[i].name}', style='height:160px;')
                                    span #{chemicalData[i].name}
                .pitot-container.content-container
                    -if(pitotData && pitotData[0])
                        ul#pitot
                            -for(var i = 0; i < pitotData.length; i++)
                                li
                                    a(href="../product/detail?page=1&id=#{pitotData[i]._id}&type=pumps&series=pitot")
                                        -var pitotUrl = pitotData[i].imgUrl.replace('public', '..');
                                        img(src='#{pitotUrl}', alt='#{pitotData[i].name}', style='height:160px;')
                                    span #{pitotData[i].name}
                .seal-container.content-container
                    -if(sealData && sealData[0])
                        ul#seal
                            -for(var i = 0; i < sealData.length; i++)
                                li
                                    a(href="../product/detail?page=1&id=#{sealData[i]._id}&type=seals&series=seal")
                                        -var sealUrl = sealData[i].imgUrl.replace('public', '..');
                                        img(src='#{sealUrl}', alt='#{sealData[i].name}', style='height:160px;')
                                    span #{sealData[i].name}
            .product-content-more
                a(href="../product/pumps?series=magnetic")
                    p.btn 更多产品>
    .customer-container
        .customer-content
            .customer-content-title
                h1.title 相关客户
                a.customer-more 更多客户>
            .customer-content-container
                .customer-content-container-top
                    .customer-content-item
                        img(src="../images/front_end/company_logo_changan.png" style="width:118px")
                    .customer-content-item
                        img(src="../images/front_end/company_logo_huaneng.png" style="width: 60px; height: 44px;")
                    .customer-content-item
                        img(src="../images/front_end/company_logo_zhongshihua.png" style="width: 76px; height: 65px;")
                    .customer-content-item
                        img(src="../images/front_end/company_logo_lifan.png" style="width: 160px;")
                    .customer-content-item
                        img(src="../images/front_end/company_logo_fenghuo.png" style="width: 115px;")
                .customer-content-container-bottom
                    .customer-content-item
                        img(src="../images/front_end/company_logo_huayi.png" style="width: 75px; height: 48px;")
                    .customer-content-item
                        img(src="../images/front_end/company_logo_zhuozheng.png" style="width: 65px;")
                    .customer-content-item
                        img(src="../images/front_end/company_logo_tianyuan.png" style="width: 58px;")
                    .customer-content-item
                        img(src="../images/front_end/company_logo_dunan.png" style="width: 110px;")
                    .customer-content-item
                        img(src="../images/front_end/company_logo_cqnengyuan.png" style="width: 53px;")

// 引入私有的js
block js
    script(src='/js/front_end/index.js')
    script(src='/plugins/jquery_slider/js/flickerplate.min.js')
    script(src='/plugins/jquery_slider/js/modernizr-custom-v2.7.1.min.js')
    script(src='/plugins/jquery_bxslider/js/jquery.bxslider.js')
    script(src='/plugins/jquery_bxslider/js/jquery.easing.min.js')
