// 集成模板
extends ../back_end_layout
block title
    title 重庆伊尔流体后台管理系统

// 引入私有的css
block css
    link(rel='stylesheet' href="../css/back_end/about.css")
    link(rel='stylesheet', href='/plugins/zyupload/skins/zyupload-1.0.0.css')
block content
    // 引入共有的aside
    include ../back_end_aside.jade

    // Content Wrapper. Contains page content
    .content-wrapper
        // Content Header (Page header)
        section.content-header
            h1
                | 企业概况
                small 企业概况详情
            //button.add-honor.btn.btn-primary 新增
        // Main content
        section.content
            .row
                .col-md-12
                    .box.table-container
                        .box-header
                            h3.box-title 概况详情
                                small  DETAIL
                        .box-body
                            .row
                                .col-md-6.col-md-offset-3
                                    -if (honorData)
                                        form
                                            .form-group
                                                label(for='inputName') 荣誉名称：
                                                input#inputName.form-control(type='text', placeholder='请输入荣誉名称' value="#{honorData.name}")
                                                input#imgUrl.form-control(type='hidden', value="#{honorData.imgUrl}")
                                                input#imgId.form-control(type='hidden', value="#{honorData._id}")
                                            .form-group
                                                label(for='imgDes') 荣誉描述：
                                                textarea#imgDes.form-control(rows='3' value="#{honorData.Summary}" placeholder="请输入相关荣誉描述") #{honorData.Summary}
                                            .form-group
                                                -var imgSrc = honorData.imgUrl.replace('public', '..')
                                                label.honor-img-label(style="vertical-align:top") 荣誉图片：
                                                img#honorImg(src="#{imgSrc}" style="width: 202px; height: 282px")
                                                .honor-change
                                                    span.btn.btn-default.change-img(style="margin-left:60px") 修改图片
                                                //p.help-block Example block-level help text here.
                                            .form-group(style="text-align:right")
                                                span.btn.btn-primary.honor-edit 保存修改
                                        .honor-back(style="text-align: right")
                                            a(href="../admin/index?page=#{pageNum}")
                                                << 返回列表
                                    -else if (enterpriseData)
                                        form
                                            .form-group
                                                label(for='inputName') 企业风采名称：
                                                input#inputName.form-control(type='text', placeholder='请输入荣誉名称' value="#{enterpriseData.name}")
                                                input#imgUrl.form-control(type='hidden', value="#{enterpriseData.imgUrl}")
                                                input#imgId.form-control(type='hidden', value="#{enterpriseData._id}")
                                            .form-group
                                                label(for='imgDes') 企业风采描述：
                                                textarea#imgDes.form-control(rows='3' value="#{enterpriseData.Summary}" placeholder="请输入企业风采相关描述") #{enterpriseData.Summary}
                                            .form-group
                                                -var imgSrc = enterpriseData.imgUrl.replace('public', '..')
                                                label.honor-img-label(style="vertical-align:top") 企业风采图片：
                                                img#honorImg(src="#{imgSrc}" style="width: 300px; height: 200px")
                                                .honor-change
                                                    span.btn.btn-default.change-img(style="margin-left:84px") 修改图片
                                                //p.help-block Example block-level help text here.
                                            .form-group(style="text-align:right")
                                                span.btn.btn-primary.honor-edit 保存修改
                                        .honor-back(style="text-align: right")
                                            a(href="../admin/enterprise?page=#{pageNum}")
                                                << 返回列表

                        //include ../front_end_jade/front_end_paging.jade

// 引入私有的js
block js
    script(src='/plugins/zyupload/zyupload.basic-1.0.0.js')
    -if (honorData)
        script(src='/js/back_end/back_end_about/honor_detail.js')
    -else if(enterpriseData)
        script(src='/js/back_end/back_end_about/enterprise_detail.js')


