// 集成模板
extends ../back_end_layout
block title
    title 重庆伊尔流体后台管理系统

// 引入私有的css
block css
    link(rel='stylesheet' href="../css/back_end/product.css")
    link(rel='stylesheet', href='/plugins/zyupload/skins/zyupload-1.0.0.css')
    link(rel='stylesheet', href='/plugins/parsley/parsley.css')
block content
    // 引入共有的aside
    include ../back_end_aside.jade

    // Content Wrapper. Contains page content
    .content-wrapper
        // Content Header (Page header)
        section.content-header
            h1
                | 产品中心
                -if(nav == 'pump')
                    small 泵类产品
                -else
                    small 密封产品
        // Main content
        section.content
            .row
                .col-md-12
                    .box.table-container
                        .box-header
                            h3.box-title 产品详情
                                small  Product detail
                            .product-back(style="text-align: right")
                                a(href="../admin/product?page=#{pageNum}&series=#{nav}" style="font-size: 12px; margin-right: 20px") << 返回列表
                        .box-body
                            .row
                                .col-md-6.col-md-offset-3
                                    -if(nav == 'pump' && pumpData)
                                        form.product-form-edit(data-parsley-validate="validate" series="#{nav}")
                                            .h4 泵相关信息
                                            .form-group.row
                                                label.col-md-2(for='pumpName') 泵名称：
                                                .col-md-10
                                                    input#pumpName.form-control(value="#{pumpData.name}" type='text' placeholder='请输入泵名称' name="name" required="true" data-parsley-trigger="change" data-parsley-length="[2, 20]" data-parsley-error-message="泵名称在2-20个字之间")
                                                    input#idform-control(value="#{pumpData._id}" type='hidden' name="_id")
                                            .form-group.row
                                                label.col-md-2(for='safeStage') 安全等级：
                                                .col-md-10
                                                    input#safeStage.form-control(value="#{pumpData.safeStage}" type='text', placeholder='请输入泵安全等级' name="safeStage" required="true" data-parsley-trigger="change" data-parsley-error-message="泵安全等级为必填项")
                                            .form-group.row
                                                label.col-md-2(for='area') 应用范围：
                                                .col-md-10
                                                    textarea#area.form-control(value="#{pumpData.area}" rows='3' placeholder="请输入应用范围" name="area" required="true" data-parsley-trigger="change" data-parsley-minlength="10" data-parsley-error-message="应用范围必填，且长度至少为10个字") #{pumpData.area}
                                            .form-group.row
                                                label.col-md-2(for='Summary') 产品描述：
                                                .col-md-10
                                                    textarea#Summary.form-control( value="#{pumpData.Summary}" rows='3' placeholder="请输入产品描述" name="Summary" required="true" data-parsley-trigger="change" data-parsley-minlength="10" data-parsley-error-message="产品描述必填，且长度至少为10个字") #{pumpData.Summary}
                                            .form-group.row
                                                label.col-md-2(for='pumpType') 泵类型：
                                                .col-md-10
                                                    select#pumpType.form-control(name="pumpType")
                                                        option(value="pitot") 皮托管泵
                                                        option(value="magnetic") 磁力泵
                                                        option(value="chemical") 化工泵
                                            .form-group
                                                label() 泵图片：
                                                span.upload-img(style="margin-bottom: 5px; color: #3c8dbc; cursor: pointer; float: right" series="#{nav}") 上传图片
                                                input#product-img.form-control(value="#{pumpData.imgUrl}" type='hidden' name="imgUrl")
                                                .response-img.col-md-10.col-md-offset-2
                                                    -var imgUrl = pumpData.imgUrl.replace('public', '..');
                                                    img(src="#{imgUrl}" style="border: 1px solid #eee; max-width: 400px; max-height: 300px")
                                            .h4 泵等级参数
                                            .form-group.row
                                                label.col-md-2(for='safe') 安全等级：
                                                .col-md-10
                                                    input#safe.form-control(value="#{pumpData.stage.safe}" type='text', placeholder='请输入泵安全等级' name="safe")
                                            .form-group.row
                                                label.col-md-2(for='manufacture') 制造等级：
                                                .col-md-10
                                                    input#manufacture.form-control(value="#{pumpData.stage.manufacture}" type='text', placeholder='请输入泵制造等级' name="manufacture")
                                            .form-group.row
                                                label.col-md-2(for='warranty') 质保等级：
                                                .col-md-10
                                                    input#warranty.form-control(value="#{pumpData.stage.warranty}" type='text', placeholder='请输入泵质保等级' name="warranty")
                                            .form-group.row
                                                label.col-md-2(for='antiSeismic') 抗震等级：
                                                .col-md-10
                                                    input#antiSeismic.form-control(value="#{pumpData.stage.antiSeismic}" type='text', placeholder='请输入泵抗震等级' name="antiSeismic")
                                            .form-group.row
                                                label.col-md-2(for='clean') 清洁等级：
                                                .col-md-10
                                                    input#clean.form-control(value="#{pumpData.stage.clean}" type='text', placeholder='请输入泵清洁等级' name="clean")
                                            .h4 泵基本参数
                                            .form-group.row
                                                label.col-md-2(for='structure') 结构：
                                                .col-md-10
                                                    input#structure.form-control(value="#{pumpData.params.structure}" type='text', placeholder='请输入泵结构' name="structure" required="true" data-parsley-trigger="change" data-parsley-error-message="泵结构为必填项")
                                            .form-group.row
                                                label.col-md-2(for='standard') 标准：
                                                .col-md-10
                                                    input#standard.form-control(value="#{pumpData.params.standard}" type='text', placeholder='请输入泵标准' name="standard" required="true" data-parsley-trigger="change" data-parsley-error-message="泵标准为必填项")
                                            .form-group.row
                                                label.col-md-2(for='flow') 流量：
                                                .col-md-10
                                                    input#flow.form-control(value="#{pumpData.params.flow}" type='text', placeholder='请输入泵流量' name="flow" required="true" data-parsley-trigger="change" data-parsley-error-message="泵流量为必填项")
                                            .form-group.row
                                                label.col-md-2(for='high') 扬程：
                                                .col-md-10
                                                    input#high.form-control(value="#{pumpData.params.high}" type='text', placeholder='请输入泵扬程' name="high" required="true" data-parsley-trigger="change" data-parsley-error-message="泵扬程为必填项")
                                            .form-group.row
                                                label.col-md-2(for='temperature') 温度：
                                                .col-md-10
                                                    input#temperature.form-control(value="#{pumpData.params.temperature}" type='text', placeholder='请输入泵温度' name="temperature" required="true" data-parsley-trigger="change" data-parsley-error-message="泵温度为必填项")
                                            .form-group.row
                                                label.col-md-2(for='pressure') 压力：
                                                .col-md-10
                                                    input#pressure.form-control(value="#{pumpData.params.pressure}" type='text', placeholder='请输入泵压力' name="pressure" required="true" data-parsley-trigger="change" data-parsley-error-message="泵压力为必填项")
                                            .form-group(style="text-align:right")
                                                button(mode="edit" type="submit").btn.btn-primary.btn-edit 保存修改
                                    -else if (nav == 'pump' && !pumpData)
                                        form.product-form(data-parsley-validate="validate" series="#{nav}")
                                            .h4 泵相关信息
                                            .form-group.row
                                                label.col-md-2(for='pumpName') 泵名称：
                                                .col-md-10
                                                    input#pumpName.form-control(type='text', placeholder='请输入泵名称' name="name" required="true" data-parsley-trigger="change" data-parsley-length="[2, 20]" data-parsley-error-message="泵名称在2-20个字之间")
                                            .form-group.row
                                                label.col-md-2(for='safeStage') 安全等级：
                                                .col-md-10
                                                    input#safeStage.form-control(type='text', placeholder='请输入泵安全等级' name="safeStage" required="true" data-parsley-trigger="change" data-parsley-error-message="泵安全等级为必填项")
                                            .form-group.row
                                                label.col-md-2(for='area') 应用范围：
                                                .col-md-10
                                                    textarea#area.form-control(rows='3' placeholder="请输入应用范围" name="area" required="true" data-parsley-trigger="change" data-parsley-minlength="10" data-parsley-error-message="应用范围必填，且长度至少为10个字")
                                            .form-group.row
                                                label.col-md-2(for='Summary') 产品描述：
                                                .col-md-10
                                                    textarea#Summary.form-control(rows='3' placeholder="请输入产品描述" name="Summary" required="true" data-parsley-trigger="change" data-parsley-minlength="10" data-parsley-error-message="产品描述必填，且长度至少为10个字")
                                            .form-group.row
                                                label.col-md-2(for='pumpType') 泵类型：
                                                .col-md-10
                                                    select#pumpType.form-control(name="pumpType")
                                                        option(value="pitot") 皮托管泵
                                                        option(value="magnetic") 磁力泵
                                                        option(value="chemical") 化工泵
                                            .form-group
                                                label() 泵图片：
                                                span.upload-img(style="margin-bottom: 5px; color: #3c8dbc; cursor: pointer; float: right" series="#{nav}") 上传图片
                                                input#product-img.form-control(type='hidden' name="imgUrl")
                                                .response-img.col-md-10.col-md-offset-2
                                            .h4 泵等级参数
                                            .form-group.row
                                                label.col-md-2(for='safe') 安全等级：
                                                .col-md-10
                                                    input#safe.form-control(type='text', placeholder='请输入泵安全等级' name="safe")
                                            .form-group.row
                                                label.col-md-2(for='manufacture') 制造等级：
                                                .col-md-10
                                                    input#manufacture.form-control(type='text', placeholder='请输入泵制造等级' name="manufacture")
                                            .form-group.row
                                                label.col-md-2(for='warranty') 质保等级：
                                                .col-md-10
                                                    input#warranty.form-control(type='text', placeholder='请输入泵质保等级' name="warranty")
                                            .form-group.row
                                                label.col-md-2(for='antiSeismic') 抗震等级：
                                                .col-md-10
                                                    input#antiSeismic.form-control(type='text', placeholder='请输入泵抗震等级' name="antiSeismic")
                                            .form-group.row
                                                label.col-md-2(for='clean') 清洁等级：
                                                .col-md-10
                                                    input#clean.form-control(type='text', placeholder='请输入泵清洁等级' name="clean")
                                            .h4 泵基本参数
                                            .form-group.row
                                                label.col-md-2(for='structure') 结构：
                                                .col-md-10
                                                    input#structure.form-control(type='text', placeholder='请输入泵结构' name="structure" required="true" data-parsley-trigger="change" data-parsley-error-message="泵结构为必填项")
                                            .form-group.row
                                                label.col-md-2(for='standard') 标准：
                                                .col-md-10
                                                    input#standard.form-control(type='text', placeholder='请输入泵标准' name="standard" required="true" data-parsley-trigger="change" data-parsley-error-message="泵标准为必填项")
                                            .form-group.row
                                                label.col-md-2(for='flow') 流量：
                                                .col-md-10
                                                    input#flow.form-control(type='text', placeholder='请输入泵流量' name="flow" required="true" data-parsley-trigger="change" data-parsley-error-message="泵流量为必填项")
                                            .form-group.row
                                                label.col-md-2(for='high') 扬程：
                                                .col-md-10
                                                    input#high.form-control(type='text', placeholder='请输入泵扬程' name="high" required="true" data-parsley-trigger="change" data-parsley-error-message="泵扬程为必填项")
                                            .form-group.row
                                                label.col-md-2(for='temperature') 温度：
                                                .col-md-10
                                                    input#temperature.form-control(type='text', placeholder='请输入泵温度' name="temperature" required="true" data-parsley-trigger="change" data-parsley-error-message="泵温度为必填项")
                                            .form-group.row
                                                label.col-md-2(for='pressure') 压力：
                                                .col-md-10
                                                    input#pressure.form-control(type='text', placeholder='请输入泵压力' name="pressure" required="true" data-parsley-trigger="change" data-parsley-error-message="泵压力为必填项")
                                            .form-group(style="text-align:right")
                                                button(mode="create" type="submit").btn.btn-primary.btn-edit 保存修改
                                    -else if(nav == 'seal' && sealData)
                                        form.product-form-edit(data-parsley-validate="validate" series="#{nav}")
                                            .h4 密封相关信息
                                            .form-group.row
                                                label.col-md-2(for='pumpName') 密封名称：
                                                .col-md-10
                                                    input#pumpName.form-control(value="#{sealData.name}" type='text', placeholder='请输入密封名称' name="name" required="true" data-parsley-trigger="change" data-parsley-length="[2, 20]" data-parsley-error-message="密封名称在2-20个字之间")
                                                    input#idform-control(value="#{sealData._id}" type='hidden' name="_id")
                                            .form-group.row
                                                label.col-md-2(for='features') 产品特点：
                                                .col-md-10
                                                    textarea#features.form-control(value="#{sealData.features}" rows='3' placeholder="请输入产品特点" name="features" required="true" data-parsley-trigger="change" data-parsley-minlength="10" data-parsley-error-message="产品特点必填，且长度至少为10个字") #{sealData.features}
                                                label.col-md-2(for='standards') 密封执行标准：
                                                .col-md-10
                                                    input#standards.form-control(value="#{sealData.standards}" type='text', placeholder='请输入密封执行标准' name="standards" required="true" data-parsley-trigger="change" data-parsley-error-message="密封执行标准为必填项")
                                            .form-group
                                                label() 密封产品图：
                                                span.upload-img(style="margin-bottom: 5px; color: #3c8dbc; cursor: pointer; float: right" series="#{nav}") 修改产品图片
                                                input#product-img.form-control(value="#{sealData.imgUrl}" type='hidden' name="imgUrl")
                                                .response-img.col-md-10.col-md-offset-2
                                                    -var imgUrl = sealData.imgUrl.replace('public', '..');
                                                    img(src="#{imgUrl}" style="border: 1px solid #eee; max-width: 400px; max-height: 300px")
                                            .form-group
                                                label() 密封结构图：
                                                span.upload-struct-img(style="margin-bottom: 5px; color: #3c8dbc; cursor: pointer; float: right" series="#{nav}") 修改结构图片
                                                input#product-struct-img.form-control(value="#{sealData.imgStructureUrl}" type='hidden' name="imgStructureUrl")
                                                .response-struct-img.col-md-10.col-md-offset-2
                                                    -var imgStructureUrl = sealData.imgStructureUrl.replace('public', '..');
                                                    img(src="#{imgStructureUrl}" style="border: 1px solid #eee; max-width: 400px; max-height: 300px")
                                            .h4 密封基本参数
                                            .form-group.row
                                                label.col-md-2(for='speed') 转速：
                                                .col-md-10
                                                    input#speed.form-control(value="#{sealData.params.speed}"  type='text', placeholder='请输入密封转速' name="speed" required="true" data-parsley-trigger="change" data-parsley-error-message="密封转速为必填项")
                                            .form-group.row
                                                label.col-md-2(for='shaft') 轴径：
                                                .col-md-10
                                                    input#shaft.form-control(value="#{sealData.params.shaft}" type='text', placeholder='请输入密封轴径' name="shaft" required="true" data-parsley-trigger="change" data-parsley-error-message="密封轴径为必填项")
                                            .form-group.row
                                                label.col-md-2(for='temperature') 温度：
                                                .col-md-10
                                                    input#temperature.form-control(value="#{sealData.params.temperature}"  type='text', placeholder='请输入密封温度' name="temperature" required="true" data-parsley-trigger="change" data-parsley-error-message="密封温度为必填项")
                                            .form-group.row
                                                label.col-md-2(for='pressure') 压力：
                                                .col-md-10
                                                    input#pressure.form-control( value="#{sealData.params.pressure}"  type='text', placeholder='请输入密封压力' name="pressure" required="true" data-parsley-trigger="change" data-parsley-error-message="密封压力为必填项")
                                            .form-group(style="text-align:right")
                                                button(mode="create" type="submit").btn.btn-primary.btn-save 保存密封
                                    -else
                                        form.product-form(data-parsley-validate="validate" series="#{nav}")
                                            .h4 密封相关信息
                                            .form-group.row
                                                label.col-md-2(for='pumpName') 密封名称：
                                                .col-md-10
                                                    input#pumpName.form-control(type='text', placeholder='请输入密封名称' name="name" required="true" data-parsley-trigger="change" data-parsley-length="[2, 20]" data-parsley-error-message="密封名称在2-20个字之间")
                                            .form-group.row
                                                label.col-md-2(for='features') 产品特点：
                                                .col-md-10
                                                    textarea#features.form-control(rows='3' placeholder="请输入产品特点" name="features" required="true" data-parsley-trigger="change" data-parsley-minlength="10" data-parsley-error-message="产品特点必填，且长度至少为10个字")
                                            .form-group.row
                                                label.col-md-2(for='standards') 密封执行标准：
                                                .col-md-10
                                                    input#standards.form-control(type='text', placeholder='请输入密封执行标准' name="standards" required="true" data-parsley-trigger="change" data-parsley-error-message="密封执行标准为必填项")
                                            .form-group
                                                label() 密封产品图：
                                                span.upload-img(style="margin-bottom: 5px; color: #3c8dbc; cursor: pointer; float: right" series="#{nav}") 上传产品图片
                                                input#product-img.form-control(type='hidden' name="imgUrl")
                                                .response-img.col-md-10.col-md-offset-2.
                                            form-group
                                                label() 密封结构图：
                                                span.upload-struct-img(style="margin-bottom: 5px; color: #3c8dbc; cursor: pointer; float: right" series="#{nav}") 上传结构图片
                                                input#product-struct-img.form-control(type='hidden' name="imgStructureUrl")
                                                .response-struct-img.col-md-10.col-md-offset-2
                                            .h4 密封基本参数
                                            .form-group.row
                                                label.col-md-2(for='speed') 转速：
                                                .col-md-10
                                                    input#speed.form-control(type='text', placeholder='请输入密封转速' name="speed" required="true" data-parsley-trigger="change" data-parsley-error-message="密封转速为必填项")
                                            .form-group.row
                                                label.col-md-2(for='shaft') 轴径：
                                                .col-md-10
                                                    input#shaft.form-control(type='text', placeholder='请输入密封轴径' name="shaft" required="true" data-parsley-trigger="change" data-parsley-error-message="密封轴径为必填项")
                                            .form-group.row
                                                label.col-md-2(for='temperature') 温度：
                                                .col-md-10
                                                    input#temperature.form-control(type='text', placeholder='请输入密封温度' name="temperature" required="true" data-parsley-trigger="change" data-parsley-error-message="密封温度为必填项")
                                            .form-group.row
                                                label.col-md-2(for='pressure') 压力：
                                                .col-md-10
                                                    input#pressure.form-control(type='text', placeholder='请输入密封压力' name="pressure" required="true" data-parsley-trigger="change" data-parsley-error-message="密封压力为必填项")
                                            .form-group(style="text-align:right")
                                                button(mode="create" type="submit").btn.btn-primary.btn-save 保存密封

// 引入私有的js
block js
    script(src='/plugins/zyupload/zyupload.basic-1.0.0.js')
    script(src='/plugins/parsley/parsley.min.js')
    script(src='/js/back_end/back_end_product/product_edit.js')